header {
  width: 100%;
  height: 100px;
  padding: 0 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  font-size: 18px;
}

nav a {
  color: black;
}

nav a:hover {
  color: #b88e2f;
}

.logo {
  width: 185px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.icon {
  cursor: pointer;
}

.header-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.header-icons img {
  width: 23px;
  height: 18px;
}

.add-btn{
  width: 130px;
  height: 40px;
  background-color: #b88e2f;
  border: 0;
  cursor: pointer;
  font-size: 12px;
}